<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<%- include('../partials/message') %>
<!DOCTYPE html>
<html>

<head>
    <title>Travel Search</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
    <!-- for some reason I can't get these to link -->
    <!-- <link rel="stylesheet" href="../../resources/css/cards.css">
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="../../resources/css/button.css">
    <style>
        .card {
            flex: 1 0 auto;
            margin: auto;
            padding: 16px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40%;
        }
        
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        
        .container {
          padding: 2px 16px;
        }

        .button {
            background-color: #04AA6D;
            border: none;
            color: white;
            padding: 12px 28px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 4px;
            margin: 4px 2px;
            cursor: pointer;
            transition-duration: 0.4s;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
    </style> -->
</head>

<body>
    <form id="searchForm" action="/search" method="GET"
        onsubmit="return validateDateInput()">
        <select class="form-control" id="queryType" name="queryType" required
            onchange="handleSearchTypeChange(this.value)">
            <option value="" disabled selected>Search for Flight or Hotel
            </option>
            <option value="flightSearchTwoWay">Flight</option>
            <option value="hotelSearch">Hotel</option>
        </select>
        <div id="flightFields" style="display: none;">
            <!-- Dropdown for Origin Airport Code -->
            <label for="origin">Origin Airport Code:</label>
            <select name="origin" id="origin">
                <option value="" disabled selected>Select Airport Code</option>
            </select>
            <!-- Dropdown for Destination Airport Code -->
            <label for="destination">Destination Airport Code:</label>
            <select name="destination" id="destination">
                <option value="" disabled selected>Select Airport Code</option>
            </select>
            <!-- Departure Date  -->
            <label for="departureDate">Departure Date (YYYY-MM-DD):</label>
            <input type="text" id="departureDate" name="departureDate"
                placeholder="YYYY-MM-DD">
            <!-- Cabin Class -->
            <label for="cabinClass">Cabin Class:</label>
            <select name="cabinClass" id="cabin_class">
                <option value="economy" selected>Economy</option>
                <option value="premium">Premium Economy</option>
                <option value="business">Business</option>
                <option value="first">First Class</option>
            </select>
        </div>
        <!-- Hotel- fields -->
        <div id="hotelFields" style="display: none;">
            <input type="text" name="location" placeholder="City">
        </div>
        <button class="button" type="submit" id="submitBtn"
            style="display: none;">Search</button>
    </form>

    <div id="cardsContainer">
        <% flights.forEach(function(flight) { %>
        <div class="card" style="width: 20rem;">
            <h2>
                <%= flight.airline %>- Flight
                <%= flight.flightNumber %>
            </h2>
            <div class="flight-info">
                <p><strong>Date: </strong>
                    <%= flight.departureDate %>
                </p> 
                <p><strong>Departure:</strong>
                    <%= flight.departureTime %> from
                    <%= flight.departureLocation %> (<%= flight.departureAirport %>)
                </p>
                <p><strong>Arrival:</strong>
                    <%= flight.arrivalTime %> at
                    <%= flight.arrivalLocation %> (<%= flight.arrivalAirport %>)
                </p>
                <p><strong>Duration:</strong>
                    <%= flight.duration %>
                </p>
                <p><strong>Baggage Allowance:</strong></p>
                <ul>
                    <% if (flight.baggageAllowance && flight.baggageAllowance.length > 0) { %>
                        <% flight.baggageAllowance.forEach(baggage => { %>
                            <li>
                                Baggage Type: <%= baggage.type %>
                            </li>
                            <li>
                                Restrictions:
                                <% if (baggage.restrictions && baggage.restrictions.length > 0) { %>
                                    <ul>
                                        <% baggage.restrictions.forEach(restriction => { %>
                                            <li>
                                                <%= restriction.type %>: <%= restriction.value %>
                                            </li>
                                        <% }); %>
                                    </ul>
                                <% } else { %>
                                    None
                                <% } %>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <li>No baggage allowance information available.</li>
                    <% } %>
                </ul>
                <p><strong>Fare:</strong> $
                    <%= flight.totalMinimumFare %>
                </p>
            </div>
            <% if (user) { %>
                <form action="/submitFlightData" method="POST">
                    <input type="hidden" name="flightData"
                        value='<%= JSON.stringify(flight) %>'>
                    <button class="button" type="submit">Add to Planner</button>
                </form>
                <% } else { %>
                <p>Please login to add to cart.</p>
        
                
                <% } %>
                <form method="GET" action="/searchInternet">
                    <input type="hidden" name="searchQuery"
                        value="<%= flight.airline %> on <%= flight.departureDate %> from <%= flight.departureAirport %> to <%= flight.arrivalAirport %>">
                    <button class="button" type="submit">Search Internet</button>
                </form>

            
        </div>
    </div>
    <% }) %>
    <% hotels.forEach(function(hotel) { %>
    <div class="card">
        <h2>
            <%= hotel.name %>
        </h2>
        <p>Star Rating:
            <%= hotel.starRating %>
        </p>
        <p>Address:
            <%= hotel.address.addressLineOne %>,
            <%= hotel.address.cityName %>
        </p>
        <% if (user) { %>
        <form method="POST" action="/submitHotelData">
            <input type="hidden" name="hotelData"
                value='<%= JSON.stringify(hotel) %>'>
            <button class="button" type="submit">Add to Planner</button>
        </form>
        <% } else { %>
        <p>Please login to add to cart.</p>
        <% } %>
        <form method="GET" action="/searchInternet">

            <input type="hidden" name="searchQuery"
                value="<%= hotel.name %> in <%= hotel.areaName %>">
            <button class="button" type="submit">Search Internet</button>
        </form>
    </div>
    <% }) %>
    </div>

    <div id="cardsContainer"></div>
    <div id="searchResultsContainer"></div>

</body>

</html>