<%- include ('../partials/header') %> <%- include ('../partials/nav') %>

<main>
    <div class="container">
      <div class="col"><%- include ('../partials/message') %></div>

      <h1>Hello, <%= user.first_name %></h1>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + Add Event
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add an Event!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <form>
                <div class="mb-3">
                  <label for="event_title" class="form-label">Event Title</label>
                  <input type="text" class="form-control" id="event_title">
                </div>
                <button type="button" class="btn btn-primary" method="POST" action="/planner/add">Save changes</button>
              </form>

            </div>
          </div>
        </div>
      </div>
        
    </div>
</main>

<%- include ('../partials/footer') %>