<%- include ('../partials/header') %> <%- include ('../partials/nav') %>

<main>
    <div class="container">

      <div class="col"><%- include ('../partials/message') %></div>
      
        <!-- sorting the data array -->
        <% data.sort((a, b) => a.date - b.date); %>
        
        <!-- printing the data array -->
        <% if (data) { %>
          <% data.forEach( cartItem => { %>
            <div class="row">
              <div class="card">
                  <div class="card-header">
                    <%= cartItem.date %>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">
                      <% if(flight_id) { %>
                        Reservation Type: Flight
                      <% } else if(hotel_id) {%>
                        Reservation Type: Hotel
                      <% } else if(car_id) {%>
                        Reservation Type: Car
                      <% } %>
                    </h5>
                    <p class="card-text">
                      Location: <%= cartItem.location %> <br>
                      Time: <%= cartItem.time %>
                    </p>
                    <a href="/cartItem" class="btn btn-primary"> See More Info </a>
                  </div>
                </div>
          </div>
        <% }); %>
        <% }; %>

    </div>
  </main>

<%- include ('../partials/footer') %>