<%- include ('../partials/header') %> <%- include ('../partials/nav') %>

<main>
    <div class="container">
      <div class="col"><%- include ('../partials/message') %></div>

      <h1>Hello, <%= user.first_name %></h1>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + Add Event
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add an Event!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <form method="POST" action="/plannerItem/add">
                <div class="mb-3">
                  <label for="event_title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="event_title" name="event_title">
                </div>
                <div class="mb-3">
                  <label for="date" class="form-label">Date</label>
                  <input type="date" class="form-control" id="date" name="date">
                </div>
                <div class="mb-3">
                  <label for="departuretime" class="form-label">Departure Time</label>
                  <input type="time" class="form-control" id="departuretime" name="departuretime">
                </div>
                <div class="mb-3">
                  <label for="arrivaltime" class="form-label">Arrival Time</label>
                  <input type="time" class="form-control" id="arrivaltime" name="arrivaltime">
                </div>
                <div class="mb-3">
                  <label for="departurelocation" class="form-label">Departure Location</label>
                  <input type="location" class="form-control" id="departurelocation" name="departurelocation">
                </div>
                <div class="mb-3">
                  <label for="arrivallocation" class="form-label">Arrival Location</label>
                  <input type="location" class="form-control" id="arrivallocation" name="departurelocation">
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <input type="text" class="form-control" id="description" name="description">
                </div>
                <button type="submit" class="btn btn-primary" method="POST" action="/plannerItem/add">Save changes</button>
              </form>

            </div>
          </div>
        </div>
      </div>

      <!-- Pre-loading events -->
      <div class="col"><%- include ('../partials/message') %></div>

      <% if (data) { %>
      <% data.forEach( planner_item => { %>

        <div class="card">
          <h5 class="card-header"> <%= planner_item.event_title %> </h5>
          <div class="card-body">
            <h5 class="card-title"> <%= planner_item.description %> </h5>
            <p class="card-text">
              Date: <%= planner_item.date %> <br>
              Time: <%= planner_item.time %> <br>
              Location: <%= planner_item.location %>
            </p>
            <!-- <a method="PUT" action="/planner/update" class="btn btn-primary">Update</a> -->
            <form method="POST" action="/plannerItem/delete">
              <button type="submit" method="POST" action="/plannerItem/delete" class="btn btn-primary" name="event_title" value="<%= planner_item.event_title %>">Delete </button>
            </form>
            

          </div>
        </div>

      <% }); %>
      <% }; %>


    </div>
</main>

<%- include ('../partials/footer') %>