<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/search.css">
    <link rel="stylesheet" href="../../css/results.css">
</head>

<body>
    <h1>Search Results</h1>
    <div id="searchResultsContainer">
        <% if (data.hotelsInfo && data.hotelsInfo.length > 0) { %>
            <h2>Hotels</h2>
            <% let hotelCounter = 0; %>
            <% data.hotelsInfo.forEach(hotel => { %>
                <% if (hotelCounter % 3 === 0) { %>
                    <!-- Start a new row for every 3 hotels -->
                    <div class="row">
                <% } %>
                <div class="col-md-4">
                    <div class="card">
                        <img src="<%=hotel.image %>" class="hotelimage"></img src="">
                        <h2>
                            <%= hotel.name %>
                        </h2>
                        <p>Star Rating:
                            <%= hotel.starrating %>
                        </p>
                        <p>Address:
                            <%= hotel.address.addresslineone %>,
                            <%= hotel.address.cityname %>
                        </p>
                        <!-- <div>
                            <iframe
                                width="280"
                                height="280"
                                style="border:0"
                                loading="lazy"
                                allowfullscreen
                                referrerpolicy="no-referrer-when-downgrade"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCdwy9vIu0XKQGwtKLzOErCWSYnYqJ2jc4
                                &q=hotel.cityName+hotel.stateCode">
                            </iframe>
                        </div> -->
                        <div>
                            <iframe
                                width="280"
                                height="280"
                                style="border:0"
                                loading="lazy"
                                allowfullscreen
                                referrerpolicy="no-referrer-when-downgrade"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCdwy9vIu0XKQGwtKLzOErCWSYnYqJ2jc4&q=<%= encodeURIComponent(hotel.address.addresslineone) %>,<%= encodeURIComponent(hotel.address.cityName) %>,<%= encodeURIComponent(hotel.address.stateCode) %>">
                            </iframe>
                        </div>
                        
                        <% if (user) { %>
                        <form method='POST' action='/plannerItemHotel/add'>
                            <input type='hidden' name='hotelData'
                                value='<%= JSON.stringify(hotel) %>'>
                            <button type='submit'>Add to Planner</button>
                        </form>
                        <% } else { %>
                        <p>Please login to add to the planner.</p>
                            <% } %>
                        
                        <!-- New form for the Search Internet button -->
                        <form method='GET' action='/searchInternet'>
                            <input type="hidden" name="searchQuery"
                                value="<%= hotel.name %><%= hotel.areaname %>">
                            <button class="button" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <% if ((hotelCounter + 1) % 3 === 0 || hotelCounter === data.hotelsInfo.length - 1) { %>
                    <!-- Close the row after every 3 hotels or at the end of the loop -->
                    </div>
                <% } %>
        
                <% hotelCounter++; %>
            <% }); %>
        <% } %>
        <% if (data.flightsInfo && data.flightsInfo.length > 0) { %>
            <h2>Flights</h2>
            <% let flightCounter = 0; %>
            <% data.flightsInfo.forEach(flight => { %>
                <% if (flightCounter % 3 === 0) { %>
                    <!-- Start a new row for every 3 hotels -->
                    <div class="row">
                <% } %>
                <div class="col-md-4">
                    <div class="card">
                        <img class="flightimage"></img>
                        <h2>
                            <%= flight.airline %>- Flight
                            <%= flight.flightnumber %>
                        </h2>
                        <div class="flight-info">
                            <p><strong>Departure: </strong>Leave on
                                <%= flight.departuredate %>at
                                <%= flight.departuretime %>from
                                <%= flight.departurelocation %>(
                                <%= flight.departureairport %>)
                            </p>
                            <p><strong>Arrival: </strong>Arrive on
                                <%= flight.arrivaldate %>at
                                <%= flight.arrivaltime %>at
                                <%= flight.arrivallocation %>(
                                <%= flight.arrivalairport %>)
                            </p>
                            <p><strong>Duration: </strong>
                                <%= flight.duration %>
                            </p>
                            <p><strong>Baggage Allowance: </strong></p>
                            <ul>
                                <% if (flight.baggageAllowance && flight.baggageAllowance.length > 0) { %>
                                <% flight.baggageAllowance.forEach(baggage => { %>
                                <li>Baggage Type:
                                    <%= baggage.type %>
                                </li>
                                <% if (baggage.restrictions && baggage.restrictions[3] && baggage.restrictions[3].value !== 0) { %>
                                <li>Restrictions:
                                    <ul>
                                        <li>
                                            <%= baggage.restrictions.type %>
                                            :
                                            <%= baggage.restrictions[3].value %>
                                            lbs
                                        </li>
                                    </ul>
                                </li>
                                <% } else { %>
                                <li>Restrictions: None</li>
    
                                
                                <% } %>
                                <% }); %>
                                <% } else { %>
                                <li>None</li>
    
                                
                                <% } %>
                            </ul>
                            <p><strong>Fare:</strong> $
                                <%= flight.totalMinimumFare %>
                            </p>
                        </div>
                        <% if (user) { %>
                        <form method="POST" action="/plannerItem/add">
                            <input type="hidden" name="flightData"
                                value='<%= JSON.stringify(flight) %>'>
                            <button type="submit">Add to Planner</button>
                        </form>
                        <% } else { %>
                        <p>Please login to add to cart.</p>
                        <% } %>
                        <form method="GET" action="/searchInternet">
                            <input type="hidden" name="searchQuery"
                                value="<%= flight.Airline %> Flight <%= flight.flightNumber %> on <%= flight.departureDate %> from <%= flight.departureAirport %> to <%= flight.arrivalAirport %>">
                            <button class="button" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <% if ((flightCounter + 1) % 3 === 0 || flightCounter === data.flightsInfo.length - 1) { %>
                    <!-- Close the row after every 3 hotels or at the end of the loop -->
                    </div>
                <% } %>
                <% flightCounter++; %>
            <% }); %>
        <% } %>
        <% if (!data.hotelsInfo && !data.flightsInfo) { %>
        <p>No results found.</p> 
        <% } %>
    </div>
</body>

</html>