<%- include ('../partials/header') %> 

<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    <div id="searchResultsContainer">
        <% if(data.hotelsInfo && data.hotelsInfo.length > 0) { %>
            <h2>Hotels</h2>

            <% data.hotelsInfo.forEach(hotel => { %>
                <form method="POST" action="/submitHotelData">
                    <div class="card">
                        <h2><%= hotel.name %></h2>
                        <p>Star Rating: <%= hotel.starRating %></p>
                        <p>Address: <%= hotel.address.addressLineOne %>, <%= hotel.address.cityName %></p>

                        <input type="hidden" name="hotelData" value='<%= JSON.stringify(hotel) %>'>

                        <% if(userLoggedIn) { %>
                            <button type="submit">Add to Cart</button>
                        <% } else { %>
                            <p>Please login to add to cart.</p>
                        <% } %>
                    </div>
                </form>
            <% }); %>
        <% } %>

        <% if(data.flightsInfo && data.flightsInfo.length > 0) { %>
            <h2>Flights</h2>
            <% data.flightsInfo.forEach(flight => { %>
                <form method="POST" action="/submitFlightData">
                    <div class="card">
                        <h2><%= flight.airline %></h2>
                        <p>Departure: <%= flight.departureTime %> from <%= flight.departureLocation %></p>
                        <p>Arrival: <%= flight.arrivalTime %> at <%= flight.arrivalLocation %></p>

                        <input type="hidden" name="flightData" value='<%= JSON.stringify(flight) %>'>

                        <% if(userLoggedIn) { %>
                            <button type="submit">Add to Cart</button>
                        <% } else { %>
                            <p>Please login to add to cart.</p>
                        <% } %>
                    </div>
                </form>
            <% }); %>
        <% } %>

        <% if(!data.hotelsInfo && !data.flightsInfo) { %>
            <p>No results found.</p>
        <% } %>
    </div>
</body>
</html>
